.startupinvestements {
  background-color: #000;
  padding: 130px 0;
  color: #fff;
}

.startupinvestements h2 {
  font-size: 2.15em;
  font-weight: 600;
  color: #fff;
}

.startupinvestements span {
  font-size: 1.15em;
  padding-top: 25px;
  line-height: 1.7em;
  display: block;
}

.startupinvestements h4 {
  font-size: 2.35em;
  font-weight: 500;
  padding-top: 120px;
  display: block;
}

.startupinvestements h6 {
  font-size: 2.35em;
  font-weight: 400;
  padding-top: 180px;
  display: block;
  max-width: 750px;
  margin: 0px auto;
}

.startupinvestements p {
  font-size: 1.15em;
  padding-top: 70px;
  padding-right: 17%;
}

.startupinvestements small {
  padding-top: 40px;
  font-size: 1.05em;
  display: block;
}

.startupinvestements a {
  color: #fff;
}

@media (max-width: 769px) {
  .startupinvestements h4 {
    padding-top: 70px;
  }
  .startupinvestements p {
    padding-top: 0px;
  }
}

@media (max-width: 572px) {
  .startupinvestements h6 {
    font-size: 1.2em;
    line-height: 1.7em!important;
    padding-top: 80px;
  }
}