.Ourbenefits_min {
  padding-bottom: 100px;
}

.Ourbenefits_min h4 {
  font-weight: bold;
  padding-bottom: 20px;
}

.Ourbenefits_min strong {
  font-size: 1.1em;
  padding-bottom: 20px;
  padding-top: 20px;
  display: block;
}