
.contactDetails { padding-top:120px; padding-bottom:120px; }
.contactDetails h5 { font-weight: 700; margin-bottom: 20px !important; }
.contactDetails li { font-size: 1.1em !important; margin-bottom: 4px; }
.contactDetails a.text-underline { text-decoration: underline; }
.contactDetails address { font-size: 1.1em; }

@media(max-width:568px){
	.contactDetails { padding-top:50px; padding-bottom: 50px; }
}
