.innovationtop {
  background-color: #4a0053;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 60px;
  display: block;
}

.innovationtop span {
  background-color: #fff;
  padding: 8px 17px 7px;
  color: #4a0053;
  font-weight: 600;
  float: left;
}

.innovationtop span svg {
  margin-top: 3px;
  float: left;
}

.innovationtop h1 {
  padding-top: 30px;
  font-weight: 600;
  font-size: 2.52em;
}

.innovationtop h6 {
  padding-top: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.innovationtop ul {
  margin-top: 45px;
}

.innovationtop li img {
  margin-right: 8px;
  float: left;
}

.innovationtop li {
  margin-top: 20px;
  font-weight: 600;
}

.innovationtop a {
  color: #fff;
  margin-top: 60px;
  margin-bottom: 40px;
}

.innovationtop .fAxqDr .styled__Arrow-d87459-0 {
  margin-left: 0px;
  margin-right: 0.5em;
  transform: rotate(180deg);
}

.bQLhSh {
  margin-left: 0.5em;
  transition: transform 500ms cubic-bezier(0.2, 1, 0.2, 1) 0s;
}

.fAxqDr {
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  font-size: 1.125rem;
  line-height: 1;
  color: rgb(255, 255, 255) !important;
  transition: color 200ms ease-in-out 0s;
  flex-direction: row-reverse;
}

.fAxqDr:hover {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
}

.fAxqDr:hover .styled__Arrow-d87459-0 {
  transform: rotate(180deg) translateX(0.25em);
}

a {
  text-decoration: none;
}

@media (max-width: 572px) {
  /* .innovationtop {
    padding-left: 15px;
    padding-right: 15px;
  } */
  .innovationtop {
    padding-top: 0px;
  }
}