.home-top .homebanner {
  height: 100% !important;
  min-height: 340px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.home-top h1, .home-top span {
  font-size: 2.3em;
  font-weight: bold;
}

.home-top h1 a, .home-top span a {
  color: #212529;
  position: relative;
  z-index: 2;
  font-size: 1em;
  padding-right: 10px;
}

.home-top h1 a:before, .home-top span a:before {
  content: '';
  position: absolute;
  height: 19px;
  width: 100%;
  left: 0px;
  bottom: -3px;
  background-color: #ffff0082;
  transform: skew(-30deg);
  border: 0px;
  z-index: -2;
}

.home-top span a:before {
  background-color: #c3f1ff;
}

.home-top h1 a .fRPwvC, .home-top span .fRPwvC {
  margin-top: 10px;
}

.experic-a {
  width: 218px !important;
}

@media (max-width: 1025px) {
  .home-top .homebanner {
    height: 100% !important;
    min-height: 320px !important;
  }
}

@media (max-width: 990px) {
  .home-top h1, .home-top span {
    font-size: 1.85em;
    display: inline;
  }
  .home-top .gfeMbr {
    height: 100% !important;
  }
}

@media (max-width: 769px) {
  .home-top h1, .home-top span {
    font-size: 1.55em;
    display: inline;
  }
  .home-top .homebanner {
    height: 100% !important;
    min-height: 260px !important;
  }
  .home-top h1 a:before, .home-top span a:before {
    display: none;
  }
  .home-top span a {
    background-color: #c3f1ff;
    padding-left: 5px;
    padding-right: 5px;
  }
  .home-top h1 a {
    background-color: #fdfb66;
    padding-left: 5px;
    padding-right: 5px;
  }
  .home-top h1 a .fRPwvC, .home-top span .fRPwvC {
    margin-top: 0px;
  }
}

@media (max-width: 769px) {
  .home-top .homebanner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 572px) {
  .home-top h1, .home-top span {
    font-size: 1.7em;
    display: inline;
  }
  .home-top .homebanner {
    height: 100% !important;
    min-height: auto !important;
  }
}