.homeblog-list {
    background-color: #fefddf;
    border-color: #fefddf;
    padding: 100px 0;
}

.homeblog-list strong {
    font-size: 1.15em;
    padding-bottom: 20px;
    display: block;
    font-weight: 600;
}

.auther-img {
    width: 59px;
    height: 59px;
    border-radius: 100px;
    margin-right: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}

.auther-img img {
    width: 59px;
    height: 59px;
    border-radius: 100px;
}

.homeblog-list span {
    margin-bottom: 15px;
}

.homeblog-list h4 {
    padding-top: 60px;
}

.homeblog-list ul {
    padding-bottom: 50px;
    margin: 0;
}

.homeblog-list li:not(:first-of-type) {
    padding-top: 60px;
}

@media (max-width: 572px) {
    .homeblog-list {
        padding: 0px 0 70px !important
    }
}