.proejct-head2 {
  max-width: 1200px;
  margin: 0px auto 0px;
  padding: 80px 100px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.proejct-head2 h2 {
  font-size: 2.04em;
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
  line-height: 48px !important;
  max-width: 760px;
  width: 100%;
  margin: 0px auto;
}

.proejct-head2 span {
  font-size: 1.2em;
  display: block;
  line-height: 25px;
}

@media (max-width: 572px) {
  .proejct-head2 h2 {
    font-size: 1.2em;
    line-height: 1.7em !important;
  }
  .proejct-head2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .proejct-head2 span {
    font-size: 0.9em;
  }
}