.Worksection h2 {
  padding-top: 75px;
  font-weight: 700;
  padding-bottom: 95px;
  max-width: 650px;
  margin: 0px auto;
}

.how-deliver {
  padding-bottom: 90px;
}

.how-deliver p {
  font-size: 1em;
  padding-top: 8px;
}

.how-deliver {
  padding-top: 100px;
}

.how-deliver h3 {
  font-weight: 700;
}

.how-deliver strong {
  font-size: 1.2em;
}

@media (max-width:769px) {
  .Worksection h2 {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .how-deliver {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}