.getintouch-min {
  width: 100%;
  background: #fefc66;
  padding: 80px 0;
}

.get-touch {
  max-width: 850px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.get-touch h2 {
  font-weight: 800;
  text-align: center;
  padding-bottom: 38px;
}

.get-touch ul {
  width: 45%;
}

.get-touch ul li {
  position: relative;
  padding-left: 30px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.5;
  letter-spacing: 0px;
}

.get-touch ul li::before {
  content: ' ';
  position: absolute;
  background: url(../../assets/images/checkmark-icon.png) no-repeat;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 7px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 55px;
}

a.iUBhrC {
  color: #030303;
}

.fRPwvC {
  margin-left: 0.5em;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.2, 1, 0.2, 1);
  -webkit-transition: transform 500ms cubic-bezier(0.2, 1, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.2, 1, 0.2, 1);
}

.iUBhrC:hover .styled__Arrow-fdeFVt {
  -webkit-transform: translateX(0.25em);
  -ms-transform: translateX(0.25em);
  transform: translateX(0.25em);
}

@media (max-width: 767px) {
  .get-touch {
    padding-left: 15px;
    padding-right: 15px;
  }
  .get-touch ul {
    width: 100%;
  }
}