.Homecovid-min {
  background-color: #ffe2e0;
  padding: 70px 0 100px;
}

.Homecovid-min h3 {
  color: #ff0018;
  font-weight: bold;
  font-size: 2em;
}

.Homecovid-min p {
  font-size: 1.15em;
}

.Homecovid-min a {
  color: #ff0018;
}