.Homecovid-min {
  background-color: #ffe2e0;
  padding: 100px 0 100px;
}

.Homecovid-min h3 {
  color: #ff0018;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 20px;
}

.Homecovid-min p {
  font-size: 1.15em;
  letter-spacing: 0.5px;
}

.Homecovid-min a {
  color: #a71400;
}

.Homecovid-min .mt-3 {
  margin-top: 35px !important;
}

@media (max-width: 568px) {
  .Homecovid-min a {
    font-size: 13px;
  }
}