.blog_post_details {
  padding-bottom: 50px;
  padding-top: 55px;
}
.blog_post_details a:hover {
  color: #000 !important;
}
.blog_post_details h1 {
  font-weight: bold;
  padding-bottom: 35px;
}

.blog_post_details span {
  display: block;
  margin-top: 10px;
}

.post_d {
  max-width: 415px;
  margin: 0px auto;
  text-align: left;
  width: 100%;
  padding-top: 8px;
  display: flex;
}

.post_d span {
  font-size: 0.92em;
  margin-top: 0px;
}

.postd-img {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 15px;
}

.footer_post_d .postd-img {
  width: 115px;
  height: 115px;
}

.footer_post_d span {
  margin-top: 0px;
  padding-bottom: 20px;
}

.postd-img img {
  width: 100%;
}

.post-tag ul li {
  background-color: #fefc9e;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  font-size: 0.92em;
}

.blog_post_details .fAxqDr .styled__Arrow-d87459-0 {
  margin-left: 0px;
  margin-right: 0.5em;
  transform: rotate(180deg);
}

.bQLhSh {
  margin-left: 0.5em;
  transition: transform 500ms cubic-bezier(0.2, 1, 0.2, 1) 0s;
}

.blog_post_details .fAxqDr {
  color: #030303 !important;
}

.fAxqDr:hover {
  color: #030303 !important;
  text-decoration: none;
}

.fAxqDr:hover .styled__Arrow-d87459-0 {
  transform: rotate(180deg) translateX(0.25em);
}

@media (max-width: 1025px) {
  .blog_post_details {
    padding-bottom: 70px;
  }
  .blog_post_details h1 {
    padding-bottom: 25px;
  }
}

@media (max-width: 769px) {
  .blog_post_details {
    padding-bottom: 0px;
  }
  .blog_post_details {
    margin-top: 0px;
  }
}

@media (max-width: 572px) {
}

@media (max-width: 480px) {
  .post_d {
    max-width: 300px;
  }
  .blog_post_details {
    padding-top: 0px;
  }
  .post_d span {
    font-size: 0.8em;
  }
}
