.meeting-min {
  background-color: #faf4f9;
  padding: 40px 50px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 70px;
}

.meeting-min h4 {
  padding-top: 0px !important;
}

.meeting-min span {
  padding-top: 20px;
  display: block;
  padding-bottom: 20px;
}

.meeting-min label {
  font-size: 14px;
  margin-bottom: 0.1em;
}

.meeting-min .form-control {
  background-color: transparent;
  border-radius: 0px;
  border: 0px;
  height: auto !important;
  border-bottom: 1px solid #e4dfe3;
  font-family: inherit;
  font-size: 1.08rem;
  line-height: 1.08rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  background-color: transparent;
  color: #111314;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 0 0 0.45em !important;
  -webkit-transition: border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out, color 200ms ease-in-out;
}

.meeting-min input::-webkit-input-placeholder {
  color: #b6b6b6 !important;
}

.meeting-min input:-moz-placeholder {
  /* Firefox 18- */
  color: #b6b6b6 !important;
}

.meeting-min input::-moz-placeholder {
  /* Firefox 19+ */
  color: #b6b6b6 !important;
}

.meeting-min input:-ms-input-placeholder {
  color: #b6b6b6 !important;
}

.meeting-min small {
  display: block;
  font-size: 12px;
  color: #8c8c8c;
}

.meeting-min small a {
  color: #8c8c8c;
  text-decoration: underline;
}

.meeting-min .form-check-input {
  margin-top: 0.45rem;
}

.meeting-min .form-check-label {
  font-size: 1.03em;
}

.meeting-min button {
  border: 0px;
  background-color: transparent;
}

.cFLifL {
  margin-left: 0.5em;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.2, 1, 0.2, 1);
  -webkit-transition: transform 500ms cubic-bezier(0.2, 1, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.2, 1, 0.2, 1);
}
.iyLmoo:hover .styled__Arrow-ihTfeJ {
  -webkit-transform: translateX(0.25em);
  -ms-transform: translateX(0.25em);
  transform: translateX(0.25em);
}
@media (max-width: 768px) {
  .meeting-min small {
    padding-top: 30px;
  }
  .meeting-min {
    padding-left: 15px;
    padding-right: 15px;
  }
}
