.Selectclients {
  background-color: #fefc66;
  padding: 130px 0;
  color: #000;
}

.Selectclients h1 {
  font-weight: bold;
  color: #000;
}

.Selectclients span {
  font-size: 1.4em;
  padding-top: 25px;
  line-height: 35px;
  display: block;
}

.Selectclients h4 {
  font-size: 2.35em;
  font-weight: 500;
  padding-top: 120px;
  display: block;
  height: 210px;
}

.Selectclients h6 {
  font-size: 2.35em;
  font-weight: 500;
  padding-top: 180px;
  display: block;
  max-width: 750px;
  margin: 0px auto;
}

.Selectclients p {
  font-size: 1.15em;
  padding-top: 10px;
  padding-right: 17%;
}

.Selectclients small {
  padding-top: 40px;
  font-size: 1.2em;
  display: block;
}

@media (max-width: 1025px) {
  .Selectclients {
    padding-top: 60px;
  }
}

@media (max-width: 769px) {
  .Selectclients h4 {
    height: auto;
    font-size: 2.2em;
  }
  .Selectclients p {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .Selectclients h4 {
    padding-top: 70px;
  }
}

@media (max-width: 572px) {
  .Selectclients {
    padding-top: 0px;
  }
  .Selectclients h6 {
    font-size: 1.2em;
    line-height: 1.7em !important;
    padding-top: 80px;
  }
  .Selectclients small {
    font-size: 0.9em;
    padding-top: 25px;
  }
}
