.project-desp {
  padding: 70px 15px;
}

.project-desp strong {
  display: block;
  padding-bottom: 25px;
  font-size: 1.2em;
  font-weight: bold;
}

.project-desp span {
  display: block;
  font-size: 1em;
}

.project-desp p {
  line-height: 35px;
  font-size: 1.15em;
}

.project-desp h6 {
  font-size: 1.1em;
  font-weight: 500;
}

.project-desp ul {
  padding-left: 20px;
  padding-top: 20px;
}

.project-desp li {
  font-size: 1em;
  list-style-type: disc;
}

.project-desp li:not(:first-of-type) {
  padding-top: 5px;
}


.project-desp h5 {
  font-weight: 500;
  padding-top: 100px;
  display: block;
  max-width: 65%;
  margin: 0px auto;
}

.tes-client h5:before, .tes-client h5:after {
  content: '"';
}

.project-desp small {
  padding-top: 40px;
  font-size: 1.2em;
  display: block;
}

.tes-client small:before {
  content: "\2060\2014";
  padding-right: 10px;
}

@media (max-width: 568px) {
  .project-desp h5 {
    font-size: 1.2em!important;
    line-height: 1.7em !important;
    padding-top: 50px;
  }
  .project-desp small {
    font-size: 0.9em;
  }
}