.project-desp {
  padding: 70px 0;
}
.project-desp strong {
  display: block;
  padding-bottom: 25px;
  font-size: 1em;
}

.project-desp span {
  display: block;
  font-size: 0.85em;
}
.project-desp p {
  line-height: 35px;
  font-size: 1.15em;
}

.project-desp h6 {
  font-size: 1em;
}

.project-desp ul {
  padding-left: 20px;
  padding-top: 20px;
}

.project-desp li {
  font-size: 0.85em;
  list-style-type: disc;
}
.project-desp h5 {
  font-size: 2.35em;
  font-weight: 300;
  padding-top: 100px;
  display: block;
  max-width: 750px;
  margin: 0px auto;
}
.project-desp small {
  padding-top: 40px;
  font-size: 1.05em;
  display: block;
}
