.Casestudies-s {
  background-color: #fff;
  padding: 150px 0;
}

.Casestudies-s h4 {
  font-size: 1.95em;
  font-weight: bold;
}

.project-img {
  box-shadow: rgba(0, 0, 0, 0.016) 0px 2.8px 2.2px, rgba(0, 0, 0, 0.02) 0px 6.7px 5.3px, rgba(0, 0, 0, 0.024) 0px 12.5px 10px, rgba(0, 0, 0, 0.03) 0px 22.3px 17.9px, rgba(0, 0, 0, 0.035) 0px 41.8px 33.4px, rgba(0, 0, 0, 0.05) 0px 100px 80px;
  transition: transform 0.7s cubic-bezier(0.2, 1, 0.2, 1) 0s;
  position: relative;
  overflow: hidden;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  transition: opacity 500ms ease 0s;
}

.project-img:hover img {
  transform: scale(1.03);
}

.Casestudies-s h6 {
  font-size: 1.5em;
  display: block;
  margin-top: 9px;
  margin-bottom: 16px;
  font-weight: 600;
}

.Casestudies-s small {
  font-size: 13px;
  color: blue;
  font-weight: 600;
  padding-top: 30px;
  display: block;
}

.Casestudies-s p {
  font-size: 14px;
}

@media (max-width: 769px) {
  .Casestudies-s {
    padding: 60px 0;
  }
}