.Recognition-min {
  padding-top: 100px;
  padding-bottom: 100px;
}

.Recognition-min h4 {
  font-size: 1.85em;
  font-weight: bold;
}

.Recognition-min strong {
  display: block;
  margin-bottom: 25px;
}

.Recognition-min a {
  font-weight: normal;
}

@media (max-width: 769px) {
  .Recognition-min {
    padding-bottom: 0px;
    padding-top: 60px;
  }
}