@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Inter', sans-serif !important;
  line-height: 1.5 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
em,
pre,
small,
sub,
sup,
b,
strong,
i {
  font-family: 'Inter', sans-serif !important;
}

address,
dl,
ol,
ul {
  margin-bottom: 1rem !important;
}

*,
::after,
::before {
  box-sizing: border-box !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem !important;
  font-weight: 500;
  line-height: 1.2 !important;
}

p {
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
  line-height: 1.7 !important;
}

.proejct-head {
  max-width: 850px;
  margin: 120px auto 0px;
  padding: 90px 100px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.proejct-head h2 {
  font-size: 1.75em;
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
  line-height: 39px;
}

.proejct-head span {
  font-size: 14px;
  display: block;
  line-height: 25px;
}

.container {
  max-width: 1200px !important;
}

.experiencurbian-min h2 {
  font-weight: bold;
  position: relative;
  font-size: 2.2em;
  padding-bottom: 45px;
}

.bred-page {
  position: relative;
  z-index: 3;
  padding-left: 8px;
  padding-right: 8px;
}

.bred-page em {
  font-style: normal;
  position: relative;
  z-index: 3;
}

header a {
  color: #000;
  font-weight: 500;
}

.bred-page:before,
header a.active:before {
  content: '';
  position: absolute;
  height: 9px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background-color: #ffff0082;
  transform: skew(-30deg);
  border: 0px;
  z-index: -2;
}

header a.active {
  color: #111314 !important;
  position: relative;
  z-index: 3;
}

.fBuaLH.is-active:before {
  bottom: 9px;
}

header nav a {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

header nav a:hover {
  color: #111314 !important;
}

header nav a.lgJjuq:before {
  content: '';
  position: absolute;
  height: 9px;
  width: 100%;
  left: 0px;
  bottom: 9px;
  background-color: yellow;
  transform: skew(-30deg);
  border: 0px;
  z-index: -2;
}

.readinss-diagnostic h4 {
  font-size: 1.75em;
  padding-top: 1.76em;
  font-weight: 700;
}

.readinss-diagnostic p {
  font-size: 1.1em;
  padding-top: 20px;
}

.readinss-diagnostic ul {
  padding-left: 20px;
}

.readinss-diagnostic li {
  padding-top: 10px;
  font-size: 1.1em;
  list-style: disc;
}

.will-run img {
  width: 122px;
  border-radius: 100px;
}

.will-run {
  width: 150px;
  float: left;
  margin-right: 15px;
}

.will-run h6 {
  font-size: 1.22em;
  font-weight: 600;
  display: block;
  padding-top: 6px;
  margin-bottom: 0px;
}

.will-run span {
  font-size: 1em;
}

.fromblog .gueQTJ,
.fromblog .cmDES {
  background-color: #fefddf;
  border-color: #fefddf;
  padding: 5px 0;
}

.fromblog p {
  margin-bottom: 0px;
}

.fromblog .cMbCbI,
.fromblog .fdnxvr {
  font-size: 0.47rem;
  width: 100%;
  min-width: 59px !important;
  max-width: 59px !important;
  min-height: 59px !important;
  max-height: 59px !important;
  border-radius: 100px !important;
  overflow: hidden;
  margin-right: 2em;
}

.fromblog .gatsby-image-wrapper,
.cMbCbI img {
  width: 59px !important;
  height: 59px !important;
}

.fromblog .fMCkUL {
  color: #000;
}

.fromblog .kapeNq {
  border-color: #dbdabf;
}

.fromblog .NDCre,
.fMqvyh {
  font-weight: bold;
}

.careerPage .jiZxJS {
  margin-bottom: 1em;
}

.footer-logo small {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
}

.innovation_min header,
.innovation_min .headroom-wrapper {
  background-color: #4a0053;
}

.innovation_min header a svg g {
  fill: #fff !important;
}

.innovation_min header .nav-wrp {
  display: none;
}

.clients-div header {
  background-color: #fefc66;
}

.clients-div header a.active:before {
  content: '';
  position: absolute;
  height: 9px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background-color: #fff;
  transform: skew(-30deg);
  border: 0px;
  z-index: -2;
}

.yellowBackground {
  position: relative;
  z-index: 2;
}

.yellowBackground:before {
  content: '';
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0px;
  top: 16px;
  background-color: #fefc66;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  border: 0px;
  z-index: -2;
}

.styled__Title-hfnBqu {
  font-weight: bold;
}

.career p {
  font-size: 1.05em;
  letter-spacing: 0.5px;
}

header nav a:hover {
  text-decoration: none;
}

.digitaltransformation,
.experienceurbian {
  background-color: #f6f5f7;
}

.digitaltransformation .headroom-wrapper,
.digitaltransformation header,
.experienceurbian .headroom-wrapper,
.experienceurbian header {
  background-color: #f6f5f7;
}

.career-title-h {
  font-weight: 600 !important;
  font-size: 2.3em !important;
}

.fz-2 {
  font-size: 1.2em !important;
}

@media (max-width: 768px) {
  header nav a {
    display: block;
    font-size: 1.25em;
    line-height: 1;
    color: rgb(17, 19, 20);
    padding: 0.75em 0px;
    text-decoration: none;
  }
}
@media (max-width: 568px) {
  .proejct-head {
    padding-left: 20px;
    padding-right: 20px;
  }
  .proejct-head h2 {
    font-size: 1.3em;
  }
}
