@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Inter', sans-serif !important;
  line-height: 1.5 !important;
  color: #030303;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
em,
pre,
small,
sub,
sup,
b,
strong,
i {
  font-family: 'Inter', sans-serif !important;
}

b,
strong {
  font-weight: 700 !important;
}

address,
dl,
ol,
ul {
  margin-bottom: 1rem;
}

*,
::after,
::before {
  box-sizing: border-box !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem !important;
  font-weight: 700;
  line-height: 1.4 !important;
}

mark {
  color: #030303;
}

em {
  font-style: normal;
}

a {
  font-size: 1.1em;
  color: #030303;
}

p {
  margin-top: 0 !important;
  line-height: 1.8 !important;
  font-size: 1.1em;
}

p:not(:last-of-type) {
  margin-bottom: 1rem !important;
}

p:last-of-type {
  margin-bottom: 0 !important;
}

/* h2 {
  font-size: 2.3em!important;
  font-weight: 700;
}

h3 {
  font-size: 2.2em!important;
  font-weight: 700;
}

h4 {
  font-size: 2em!important;
  font-weight: 700;
} */

.underline {
  text-decoration: underline;
}

.Homecovid-banner {
  display: none;
}

.home-page .Homecovid-banner {
  display: block;
}

.proejct-head {
  margin: 120px auto 0px;
  padding: 120px 0;
  border-top: 1px solid #ddd;
  text-align: center;
}

.proejct-head h2 {
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
  line-height: 39px;
}

.proejct-head span {
  font-size: 1.2em;
  display: block;
  line-height: 25px;
}

.container {
  max-width: 1200px !important;
}

.experiencurbian-min h2 {
  position: relative;
  padding-bottom: 0px;
}

.bred-page {
  position: relative;
  z-index: 3;
  padding-left: 8px;
  padding-right: 8px;
}

.dosD {
  margin-top: 30px;
  display: inline-block;
}

.bred-page em {
  font-style: normal;
  position: relative;
  z-index: 3;
}

header a {
  font-weight: 600;
}

.bred-page:before,
header nav a:before {
  content: '';
  position: absolute;
  height: 11px;
  width: 122%;
  left: -10px;
  bottom: 3px;
  background-color: #ffff0082;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  border: 0px;
  z-index: -2;
  opacity: 0;
  transition: all 0.3s;
}

header nav a:hover:before,
header a.active:before {
  opacity: 1;
  transition: all 0.3s;
}
header nav a.covid-menu {
  display: none;
}
.covid-div header nav a.covid-menu {
  display: block;
  position: relative;
  padding-right: 30px !important;
  color: #ed220c !important;
}

.covid-div header nav a.covid-menu:before {
  width: 100%;
}

.covid-div header nav a.covid-menu:after {
  background-color: #ed220c !important;
  font-size: 0.6em;
  display: inline-block;
  padding: .25em .4em;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  content: 'NEW';
  color: white;
}
header a.active {
  color: #030303 !important;
  position: relative;
  z-index: 3;
}
.activec:before {
  background: #fff;
}
.fBuaLH.is-active:before {
  bottom: 9px;
}

.headroom header::after {
  width: auto;
}

.nav-container,
footer .container {
  max-width: 1200px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

header button {
  margin-top: -6px !important;
}

.gdmTXY {
   background: none;
   height: auto !important;
}

header nav a {
  padding-left: 7px !important;
  padding-right: 7px !important;
  position: relative;
  z-index: 3;
  font-size: 1em;
}

header nav a:hover {
  color: #030303 !important;
}

/* header nav a.lgJjuq:before {
  content: '';
  position: absolute;
  height: 9px;
  width: 100%;
  left: 0px;
  bottom: 9px;
  background-color: yellow;
  transform: skew(-30deg);
  border: 0px;
  z-index: -2;
} */

.readinss-diagnostic h4 {
  padding-top: 1.76em;
  font-weight: 700;
}

.readinss-diagnostic p {
  font-size: 1.1em;
  padding-top: 20px;
}

.readinss-diagnostic ul {
  padding-left: 20px;
}

.readinss-diagnostic li {
  padding-top: 10px;
  font-size: 1.1em;
  list-style: disc;
}

.will-run img {
  width: 122px;
  border-radius: 100px;
}

.will-run {
  width: 150px;
  float: left;
  margin-right: 15px;
}

.will-run h6 {
  font-weight: 600;
  display: block;
  padding-top: 6px;
  margin-bottom: 0px;
}

.will-run span {
  font-size: 0.95em;
}

.fromblog .gueQTJ,
.fromblog .cmDES {
  background-color: #fefddf;
  border-color: #fefddf;
  padding: 5px 0;
}

.fromblog p {
  margin-bottom: 0px;
}

.fromblog .cMbCbI,
.fromblog .fdnxvr {
  font-size: 0.47rem;
  width: 100%;
  min-width: 59px !important;
  max-width: 59px !important;
  min-height: 59px !important;
  max-height: 59px !important;
  border-radius: 100px !important;
  overflow: hidden;
  margin-right: 2em;
}

.fromblog .gatsby-image-wrapper,
.cMbCbI img {
  width: 59px !important;
  height: 59px !important;
}

.fromblog .fMCkUL {
  color: #030303;
}

.fromblog .kapeNq {
  border-color: #dbdabf;
}

.fromblog .NDCre,
.fMqvyh {
  font-weight: bold;
}

.careerPage .jiZxJS {
  margin-bottom: 1em;
}

.footer-logo small {
  display: block;
  padding-top: 15px;
  padding-bottom: 10px;
}

.innovation_min header,
.innovation_min .headroom-wrapper {
  background-color: #4a0053;
}

.innovation_min header a svg g {
  fill: #fff !important;
}

.innovation_min header .nav-wrp,
.innovation_min header .nav-wrp nav,
.innovation_min header .nav-wrp nav button {
  opacity: 0;
}

.clients-div header,
.clients-div .headroom-wrapper {
  background-color: #fefc66;
}

.clients-div header a.active:before {
  background-color: #fff;
}

.clients-div header a:hover:before {
  background-color: #fff;
}

.yellowBackground {
  position: relative;
  z-index: 2;
  background-color: transparent;
}

.yellowBackground:before {
  content: '';
  position: absolute;
  height: 10px;
  width: 100%;
  left: 0;
  bottom: 5px;
  background-color: #fefc9e;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  border: 0px;
  z-index: -2;
}

.career_min .Ourculture_min .yellowBackground:before {
  background-color: #c9f9ff;
}

.styled__Title-hfnBqu {
  font-weight: bold;
}

.career p {
  font-size: 1.05em;
  letter-spacing: 0.5px;
}

header nav a:hover {
  text-decoration: none;
}

.digitaltransformation,
.experienceurbian,
.services_min,
.aboutBg {
  background-color: #f6f5f7;
}

.digitaltransformation .headroom-wrapper,
.digitaltransformation header,
.experienceurbian .headroom-wrapper,
.experienceurbian header,
.services_min header,
.services_min .headroom-wrapper,
.aboutBg header,
.aboutBg .headroom-wrapper {
  background-color: #f6f5f7;
}

.career-title-h {
  font-weight: 600 !important;
  font-size: 2.2em !important;
}

.fz-2 {
  font-size: 1.2em !important;
}

.border-top,
.border-bottom {
  border-color: #d4d3d4 !important;
}

.pl-pr {
  padding-left: 0px;
  padding-right: 0px;
}

.proejct_head {
  max-width: 65%;
  width: 100%;
  margin: 0px auto;
}

.proejct_head h2 {
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
  line-height: 45px !important;
}

.proejct_head h2:before, .proejct_head h2:after {
  content: '"';
}

.proejct_head span {
  font-size: 1.2em;
  display: block;
  line-height: 25px;
}

.proejct_head span:before {
  content: "⁠—";
  padding-right: 10px;
}

.content-wrap {
  padding-top: 89px;
}
.covid-div .Topsection_min,
.covid-div header,
.covid-div .headroom-wrapper {
  background-color: #ffe2e0;
}

.covid-div .dccrBy {
  background-color: #ffe2e0;
}
.covid-div .proejct-head {
  margin-top: 40px;
}
.bggy {
  background-color: #f6f5f7;
}
.headroom {
  position: relative !important;
}
@media (max-width: 1025px) {
  header .nav-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content-wrap {
    padding-top: 70px;
  }
  .headroom-wrapper {
    height: auto !important;
  }
  header a {
    font-size: 14px !important;
  }
}

@media (max-width: 990px) {
  nav {
    grid-gap: 1em;
  }
  nav a {
    font-size: 0.95em;
  }
}

@media (max-width: 768px) {
  header nav a {
    display: block;
    font-size: 1.25em;
    line-height: 1;
    padding: 0.75em 0px;
    text-decoration: none;
  }
  .nav-wrp button:before {
    top: 1.25em !important;
  }
  header .nav-wrp:before {
    display: none;
  }
}

@media (max-width: 769px) {
  header a.active {
    display: inline-block;
  }
  .clients-div header a.active::before,
  header a.active::before {
    background-color: #fefc66;
    bottom: 9px;
  }

  .clients-div .OCzDU, .clients-div .imfcrN {
    background: #fefc66;
  }

  .yellowBackground {
    background-color: #fefc9e;
  }
  .career_min .Ourculture_min .yellowBackground {
    background-color: #c9f9ff;
  }
  header nav a:hover:before {
    opacity: 0;
  }
}

@media (max-width: 568px) {
  .content-wrap {
    padding-top: 60px;
  }
 
  a,
  .fYDdlr {
    font-size: 13px;
  }
  .proejct_head h2 {
    font-size: 1.2em !important;
    line-height: 1.7em !important;
  }
  .proejct_head span {
    font-size: 0.9em;
  }
}

.Topsection_min p {
  font-size: 1.2em;
}


.blog-min p {
  font-size: 1em;
}
