.Topsection_min {
  padding-top: 125px;
}

.Topsection_min h1 {
  font-weight: 700;
}

.Topsection_min p {
  font-size: 1.3em;
  padding-top: 40px;
  line-height: 35px;
}

@media (max-width: 1025px) {
  .Topsection_min {
    padding-top: 60px;
  }
}

@media (max-width: 572px) {
  .Topsection_min {
    padding-top: 0px;
  }
}
