.Topsection_min h1 {
  font-size: 2.4em;
  padding-top: 75px;
  font-weight: 700;
}

.Topsection_min p {
  font-size: 1.3em;
  padding-top: 40px;
  line-height: 35px;
}

@media (max-width: 568px) {
  .Topsection_min h1 {
    padding-top: 0px;
  }
}